<div class="container">

  <h1>Create Post</h1>

  <form action='/posts/create/' method='POST'>
    Title:<br>
    <input type="text" placeholder="e.g. Alex sucks" name="post[title]"><br><br>
    Content:
    <br>
    <textarea rows="20" cols="50" name="post[content]"></textarea><br><br>
    Tag:<br>
    <input type="text" name="tag[name]"><br><br>
    <input type="submit" value="Submit">
  </form>

</div>


