<div class="container">
  <h1>Alex's Blog: I will break you Tweeter</h1>
  <h3>Tags:</h3>
  <ul>
    <%Tag.all.each do |tag|%>
    <li><a href="/tags/<%=tag.id%>"><%=tag.name%></a></li>
    <%end%>
  </ul>
</div>
