<div class="container">
  <h1>Alex's Blog: I will break you Tweeter</h1>
    <br><br>
    <h3><%=@post.title%></h3>
    <blockquote>
      <%=@post.content%>
    </blockquote>

    <br>
  <a href="/">Home</a>
</div>
