<div class="wrapper">
    <h2><%=@post.title%></h2>
    <blockquote>
      <%=@post.content%>
    </blockquote>

    <br>

  <a href="/posts/edit/<%= @post.id %>">Edit</a><br><br>
  <a href="/posts/delete/<%= @post.id %>">Delete</a><br><br>
  <a href="/">Home</a>
</div>
